<mat-card class="user-detail-card">
    <div class="user">
        <img src="./assets/img/avatar.png" alt="">
        <div class="user-info">
            <h2>Max Mustermann</h2>
            <span>email-maxgamil.de</span>
        </div>
    </div>
</mat-card>

<mat-card class="mt-32">
    <mat-card-header>
        <mat-card-title>Address</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <span>Musterstrasse 1</span> <br>
      <span>454545 Berlin</span>
    </mat-card-content>
</mat-card>