.inputs-container {
    display: flex;
    align-items: center;
    gap: 16px;
}

.date-container {
    width: 100%;
}

.address-container {
    display: flex;
    align-items: center;
    gap: 16px;
}