<h2 mat-dialog-title>Add user</h2>
<mat-dialog-content>
    <p>Add user's name here</p>
    <div class="inputs-container">
        <mat-form-field style="width: 50%;" class="example-full-width">
            <mat-label>First Name</mat-label>
            <input [(ngModel)]="user.firstName" matInput>
        </mat-form-field>
        <mat-form-field style="width: 50%;">
            <mat-label>Last Name</mat-label>
            <input [(ngModel)]="user.lastName" matInput>
        </mat-form-field>
    </div>
    <div class="date-container">
        <mat-form-field style="width: 100%;" class="example-form-field">
            <mat-label>Choose a date</mat-label>
            <input matInput [(ngModel)]="birthDate" [matDatepicker]="datepicker">
            <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
            <mat-datepicker #datepicker>
                <mat-datepicker-actions>
                    <button mat-button matDatepickerCancel>Cancel</button>
                    <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                </mat-datepicker-actions>
            </mat-datepicker>
        </mat-form-field>
    </div>

    <div class="address-container">
        <mat-form-field>
            <mat-label>Street and House number</mat-label>
            <input [(ngModel)]="user.street" matInput>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Zip code</mat-label>
            <input [(ngModel)]="user.zipCode" matInput>
        </mat-form-field>
        <mat-form-field>
            <mat-label>City</mat-label>
            <input [(ngModel)]="user.city" matInput>
        </mat-form-field>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button cdkFocusInitial (click)="saveUser()">Save</button>
</mat-dialog-actions>